.admin {
  .app-container {
    & > aside {
      .user {
        padding: $grid-gutter-width;
        @media (min-width: $screen-sm-min) {
          padding: $grid-gutter-width $padding-base-horizontal;
          text-align: center;
        }

        .avatar {
          display: none;

          @media (min-width: $screen-sm-min) {
            display: inline-block;
            width: 70%;
            padding-top: 70%;
            border-radius: 50%;
            border: solid 2px #fff;
            background-color: $primary-colour;
            background-position: center;
            background-size: 100% auto;
          }
        }

        .name {
          margin-bottom: 0;
        }

        .datasets {
          opacity: 0.6;

          span {
            background-color: #fff;
            color: $grey;
            display: inline-block;
            padding: 0 0.2em;
            line-height: 1;
            border-top: solid #fff 0.25em;
            border-radius: 1px;
          }
        }
      }
    }

    .dataset-list {
      margin: $padding-base-vertical (-$grid-gutter-width) $grid-gutter-width;

      & > table {
        display: block;

        tbody {
          display: block;
        }

        tr {
          display: block;
          clear: both;
          padding-left: $grid-gutter-width;
          padding-right: $grid-gutter-width;

          &:nth-child(even) {
            background-color: #fff;

            td > ul:before {
              content: '';
              background-color: #fff;
              width: 100vw;
              position: absolute;
              left: -15px;
              right: -$grid-gutter-width;
              bottom: -14px;
              z-index: -1;
            }
          }

          th {
            span {
              @include text-hide;
            }
          }

          td {
            padding: ($grid-gutter-width/2 + $padding-small-vertical) $padding-base-horizontal/2 $grid-gutter-width/2 0;
            display: inline-block;


            span {
              position: relative;
              z-index: 2;
            }

            &.title {
              font-size: 18px;
              font-weight: 500;
            }
            &.status {
              .label {
                position: relative;
                top: -2px;
              }
            }
            &.actions {
              padding-right: 0;
              display: block;

              @media (min-width: $screen-md-min) {
                float: right;
                text-align: right;
              }

              & > ul {
                padding: 0;
                margin: -20px 0 0 0;
                position: relative;

                @media (min-width: $screen-md-min) {
                  margin-top: -5px;
                }

                & > li {
                  display: inline-block;

                  & > a {
                    position: relative;

                    &:after {
                      content: '|';
                    }
                    font-size: 0.9em;

                    svg {
                      display: none;
                    }

                    @media (min-width: $screen-md-min) {
                      &:after {
                        content: '';
                      }
                      @include btn;
                      @include button-variant($grey, transparent, $grey);
                      padding: .5em $padding-base-horizontal .25em $padding-base-horizontal;
                      font-size: 0.8em;
                      background-repeat: no-repeat;
                      background-size: auto 18px;
                      background-position: center center;
                      min-width: 32px;

                      svg {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        fill: currentColor;
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        margin-top: -10px;

                        & + span {
                          @include text-hide;
                        }
                      }
                    }
                  }
                  &.more {
                    position: relative;

                    & > a {
                      @include button-variant($grey, transparent, transparent);
                    }
                  }

                  ul {
                    @include context-menu (left);
                    margin-top: -6px;

                    li {
                      display: block;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
