.form-control {
  padding: .65em 1em .45em 1em;
  height: 2.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    box-shadow: none;
  }
}

.btn {
  padding: .65em 2em .45em 2em;
}

label {
  font-weight: 500;
}

.form {

  .input-wrapper {
		position: relative;
		display: inline-block;
	}

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input:not([type]),
  .select {
    @extend .form-control;

    &.alert {
  		border-color: $red;
  		box-shadow: 0 0 6px rgba($red, .2);
  	}

  	&[required] {
  		background: url("../img/form/icon-required.svg") no-repeat top right;
  	}

  	&.success {
  		background: url("../img/form/icon-success.svg") no-repeat top right;
  	}

  	&[disabled] {
  		opacity: 0.8;
  		background-color: lighten($light-grey, 8%);
  	}
  }

  .input-group {
    position: relative;

    .input-group-addon {
      position: absolute;
      z-index: 10;
      top: 1px;
      bottom: 1px;
      border: none;
      width: 2.5em;
      padding: .85em 0.1em;
      opacity: 0.3;

      & + input {
        text-indent: 2em;
      }

  		@mixin icon($image) {
  			background-image: url($image);
  			background-position: .75em center;
  			background-size: 1.4em auto;
        background-repeat: no-repeat;
  		}

  		&.user {
  			@include icon("../os-assets/icons/user.svg");
  		}

      & + input {
        text-indent: 2em;
      }

    }

    input[type="text"] {
      &:not(:first-child):not(:last-child),
      &:not(:first-child),
      &:not(:last-child) {
        border-radius: $input-border-radius;
      }

      & + .input-group-addon {
        right: 0;
      }
    }
  }

  input[type=radio],
  input[type=checkbox] {
  	position: absolute;
  	left: 0;
  	top: 0;
  	margin: 0;
  	padding: 0;
  	opacity: 0;
  }

  .radio-label,
  .checkbox-label {
  	padding-left: 24px;
  	@include user-select(none);
    position: relative;

  	&::before,
  	&::after {
  		/* custom radio and check boxes */
  		content: '';
  		display: block;
  		width: 16px;
  		height: 16px;
  		position: absolute;
  		top: 50%;
  		@include translate(0, -50%);
  	}

  	&::before {
  		left: 0;
  		border: 1px solid $light-grey;
  		box-shadow: inset 1px 1px rgba(#000, .03);
  	}

  	&::after {
  		left: 0;
  		background: url('../img/form/icon-check.svg') no-repeat center center;
  		display: none;
  	}
  }

  .radio-label {
  	&::after {
  		background-image: url('../img/form/icon-radio.svg');
  	}

  	&::before {
  		border-radius: 50%;
  	}
  }

  .checkbox-label::before {
  	border-radius: 3px;
  }

  input[type=radio]:checked + label::before,
  input[type=checkbox]:checked + label::before {
  	background-color: $primary-colour;
  	border: none;
  	box-shadow: none;
  }

  input[type=radio]:checked + label::after,
  input[type=checkbox]:checked + label::after {
  	display: block;
  }

  .select {
    box-shadow: none;

  	select {
  		position: relative;
  		padding: 0 1em 0 0;
  		cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      background-color: transparent;
      border: none;
      width: 100%;

  		&::-ms-expand {
  	      display: none;
  		}
  	}

  	&::after {
  		/* switcher arrow for select element */
  		content: '';
  		position: absolute;
  		z-index: 1;
  		right: 14px;
  		top: 50%;
      @include translate(0, -45%);
  		display: block;
  		width: 12px;
  		height: 12px;
  		background: url('../img/form/icon-select.svg') no-repeat center center;
  		pointer-events: none;
  	}
  }
}
