aside {
  .accordion {
    padding: $base-spacing 0;
    margin: 0;
    font-size: em(15);

    li {
      margin-bottom: $base-spacing / 3;
      display: block;

      .submenu {
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 0;
        }
      }

      &.is-expanded {
        .js-accordion-trigger {
          &:after {
            @include rotate(90deg);
          }
        }
      }

      &.filter {
        .js-accordion-trigger {
          &:before {
            @include icon-font();
            content: "\e904";
            margin-right: 0.5em;
            position: relative;
            bottom: em(-1);
          }
        }

        .submenu {
          a.active {
            &:after {
              @include icon-font();
              content: "\e903";
              position: absolute;
              width: 16px;
              height: 16px;
              top: 50%;
              right: 1em;
              margin-top: -8px;
              opacity: 0.5;
              text-align: right;
              font-size: 1.2em;
            }

            &:hover {
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    a {
      display: block;
      padding: $base-spacing / 3 $base-spacing;
      position: relative;
      text-decoration: none;
      color: #fff;

      &:hover {
        background-color: rgba(0,0,0,0.15);
      }

      .label {
        background-color: rgba(#fff, 0.2);
        padding-bottom: 0;
        margin-left: $padding-small-horizontal;
      }

      &.active {
        background-color: rgba(0,0,0,0.3);
        border-left: solid 0.4em $primary-colour;
        padding-left: $base-spacing - 0.4em;

        .label {
          background-color: $primary-colour;
        }
      }

      &.js-accordion-trigger {
        &:after {
          content: '\203A';
          display: block;
          position: absolute;
          width: 12px;
          height: 12px;
          text-align: center;
          top: 50%;
          right: $base-spacing / 2;
          margin-top: -6px;
          line-height: 12px;
          font-size: 1.7em;
          font-weight: 100;
          @include transition(all 0.2s ease-in-out);
        }
      }
    }
  }
}
