// Colours
$grey: #2a2d34;
$dark-grey: #22242a;
$light-grey: #e6e6e6;
$lighter-grey: #f7f7f7;
$blue: #3a99d9;
$green: #2abb9c;
$purple: #7d4e92;
$red: #d93d3a;
$yellow: #f1ba22;

$default-primary-colour: #32a6ba;

$primary-colour: $default-primary-colour !default;


// Font
$font-family: 'Hind', sans-serif;

//Spacing
$base-spacing: 1.5em;
