{% extends "app.html" %}

{% block aside %}
  <div class="user">
    <span class="avatar" style="background-image: url('{{ bag('user.avatar') }}')"></span>
    <h4 class="name">{{ bag('user.name') }}</h4>
    <p class="datasets">
      <span class="">{{ bag('user.uploaded_datasets') }}</span> Dataset{% if bag('user.uploaded_datasets') != '1' %}s{% endif %}
    </p>
    <a>Edit profile</a>
  </div>
{% endblock %}

{% block content %}
  {% import 'macros/app-elements.html' as app_elements %}
  {{ app_elements.search('datasets', placeholder='enter keywords from dataset title') }}

  <div class="dataset-list">
    <table>
      <thead>
        <tr>
          <th class="title"><span>Title</span></th>
          <th class="status"><span>Publication status</span></th>
          <th class="actions"><span>Actions</span></th>
        </tr>
      </thead>
       <tbody>
         <tr>
           <td class="title"><span>ESIF finance details</span></td>
           <td class="status"><span class="label label-primary">Published</span></td>
           <td class="actions">
             <ul>
               <li class="make-private">
                 <a>Make private</a>
               </li>
               <li class="edit">
                 <a data-toggle="tooltip" data-placement="top" title="Edit"><svg><use xlink:href="#icon-edit" /></svg><span>Edit</span></a>
               </li>
               <li class="view">
                 <a data-toggle="tooltip" data-placement="top" title="View"><svg><use xlink:href="#icon-open" /></svg><span>View</span></a>
               </li>
               <li class="download context">
                 <a data-toggle="tooltip" data-placement="top" title="Download">
                   <svg><use xlink:href="#icon-download"/></svg><span>Download</span>
                 </a>
                 <ul>
                   <li class="package">
                     <a>Data package</a>
                   </li>
                   <li class="raw">
                     <a>Raw source data</a>
                   </li>
                 </ul>
               </li>
               <li class="more context">
                 <a><svg><use xlink:href="#icon-more" /></svg><span>More</span></a>
                 <ul>
                    <li class="run">
                      <a>Run external hooks</a>
                    </li>
                  </ul>
               </li>
             </ul>
           </td>
         </tr>
         <tr>
           <td class="title"><span>Isreali Reserves over the years</span></td>
           <td class="status"><span class="label label-warning">Private</span></td>
           <td class="actions">
             <ul>
               <li class="publish">
                 <a>Publish</a>
               </li>
               <li class="edit">
                 <a data-toggle="tooltip" data-placement="top" title="Edit"><svg><use xlink:href="#icon-edit" /></svg><span>Edit</span></a>
               </li>
               <li class="view">
                 <a data-toggle="tooltip" data-placement="top" title="View"><svg><use xlink:href="#icon-open" /></svg><span>View</span></a>
               </li>
               <li class="download context">
                 <a data-toggle="tooltip" data-placement="top" title="Download">
                   <svg><use xlink:href="#icon-download"/></svg><span>Download</span>
                 </a>
                 <ul>
                   <li class="package">
                     <a>Data package</a>
                   </li>
                   <li class="raw">
                     <a>Raw source data</a>
                   </li>
                 </ul>
               </li>
               <li class="more context">
                 <a><svg><use xlink:href="#icon-more" /></svg><span>More</span></a>
                 <ul>
                    <li class="run">
                      <a>Run external hooks</a>
                    </li>
                  </ul>
               </li>
             </ul>
           </td>
         </tr>
         <tr>
           <td class="title"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies pharetra aliquet. Donec ut scelerisque risus, rutrum condimentum enim</span></td>
           <td class="status"><span class="label label-warning">Private</span></td>
           <td class="actions">
             <ul>
               <li class="publish">
                 <a>Publish</a>
               </li>
               <li class="edit">
                 <a data-toggle="tooltip" data-placement="top" title="Edit"><svg><use xlink:href="#icon-edit" /></svg><span>Edit</span></a>
               </li>
               <li class="view">
                 <a data-toggle="tooltip" data-placement="top" title="View"><svg><use xlink:href="#icon-open" /></svg><span>View</span></a>
               </li>
               <li class="download context">
                 <a data-toggle="tooltip" data-placement="top" title="Download">
                   <svg><use xlink:href="#icon-download"/></svg><span>Download</span>
                 </a>
                 <ul>
                   <li class="package">
                     <a>Data package</a>
                   </li>
                   <li class="raw">
                     <a>Raw source data</a>
                   </li>
                 </ul>
               </li>
               <li class="more context">
                 <a><svg><use xlink:href="#icon-more" /></svg><span>More</span></a>
                 <ul>
                    <li class="run">
                      <a>Run external hooks</a>
                    </li>
                  </ul>
               </li>
             </ul>
           </td>
         </tr>
       </tbody>

     </table>
  </div>

{% endblock %}
