{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div id="fullpage">
  <section class="search section">
    <div class="inner">
      <h1>Search over <strong>1473</strong> data packages from <strong>35</strong> countries with over <strong>10,230,400</strong> fiscal records.</h1>
      <form class="form">
        <div class="input-group">
          <input class="icon" type="text" placeholder="Search for available fiscal data">
          <div class="search input-group-addon"></div>
        </div>
      </form>

      <aside class="featured data-package">
        <div class="inner">
          <h3>Featured Data Package <i class="icon" data-toggle="tooltip" data-placement="left" title="" data-original-title="What's this?"><svg><use xlink:href="#icon-tip" /></svg></i></h3>
          <a>
            <svg><use xlink:href="#icon-star" /></svg>
            <h4>Lorem ipsum dolor</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur egestas.
            </p>
          </a>
        </div>
      </aside>

      <aside class="featured app">
        <div class="inner">
          <h3>Featured App <i class="icon" data-toggle="tooltip" data-placement="left" title="" data-original-title="What's this?"><svg><use xlink:href="#icon-tip" /></svg></i></h3>
          <a>
            <svg><use xlink:href="#icon-star" /></svg>
            <h4>Lorem ipsum dolor</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur egestas.
            </p>
          </a>
        </div>
      </aside>

    </div>
    <nav>
      <ul>
        <li class="next">
          <a href="#what">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">What is OpenSpending?</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="what section">
    <div class="inner">
      {{ this.what }}
    </div>
    <nav>
      <ul>
        <li class="prev">
          <a href="#search">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">Search fiscal data</span>
          </a>
        </li>
        <li class="next">
          <a href="#publishers">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">What else can I do here?</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="publishers section">
    <div class="inner">
      {{ this.publishers }}
    </div>
    <nav>
      <ul>
        <li class="prev">
          <a href="#what">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">What is OpenSpending?</span>
          </a>
        </li>
        <li class="next">
          <a href="#hackers">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">Hackers</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="hackers section">
    <div class="inner">
      {{ this.hackers }}
    </div>
    <nav>
      <ul>
        <li class="prev">
          <a href="#publishers">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">Publishers</span>
          </a>
        </li>
        <li class="next">
          <a href="#society">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">Civil society</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="society section">
    <div class="inner">
      {{ this.society }}
    </div>
    <nav>
      <ul>
        <li class="prev">
          <a href="#hackers">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">Hackers</span>
          </a>
        </li>
        <li class="next">
          <a href="#involved">
            <span class="icon"><svg><use xlink:href="#icon-arrow_down" /></svg></span>
            <span class="text">Get involved</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="involved section">
    <div class="inner">
      {{ this.involved }}
    </div>
  </section>
  <section class="fp-auto-height section">
  {% include 'includes/footer.html' %}
  </section>
</div>
{% endblock %}
