{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="banner{% if this.image2 %} two-images{% elif this.image1 %} one-image{% endif %}">
  <div class="container">
    {% if this.image1 %}
    <div class="image one" style="background-image: url({{ this.image1 }})"></div>
    {% endif %}
    <div class="text">
      <h1>{{ this.title }}</h1>
      <p>
        {{ this.tagline }}
      </p>
      <a href="#how-it-works" class="cta">How it works</a>{% if this.start %}<a href="{{ this.start }}" class="cta">Get started</a>{% endif %}
    </div>
    {% if this.image2 %}
    <div class="image two" style="background-image: url({{ this.image2 }})"></div>
    {% endif %}
  </div>
</div>

<section id="how-it-works" class="{{ this.step1_layout }}">
  <div class="container">
    <h2>How it works</h2>
    <div class="text">
      <h3><span class="number">1</span> <span>{{ this.step1_title }}</span></h3>
      {% if this.step1_layout =='icons' %}
      icons
      {% else %}
      {{ this.step1_body1 }}
    </div>
    {% if this.step1_image %}
    <div class="image">
      <img src="{{ this.step1_image|url }}" alt="">
    </div>
    {% endif %}
    {% endif %}
  </div>
</section>
{% if this.step2_title %}
<section class="{{ this.step2_layout }}">
  <div class="container">
    <div class="text">
      <h3><span class="number">2</span> <span>{{ this.step2_title }}</span></h3>
      {% if this.step2_layout =='icons' %}
      icons
      {% else %}
      {{ this.step2_body1 }}
    </div>
    {% if this.step2_image %}
    <div class="image">
      <img src="{{ this.step2_image|url }}" alt="">
    </div>
    {% endif %}
    {% endif %}
  </div>
</section>
{% endif %}
{% if this.step3_title %}
<section class="{{ this.step3_layout }}">
  <div class="container">
    <div class="text">
      <h3><span class="number">3</span> <span>{{ this.step3_title }}</span></h3>
      {% if this.step3_layout =='icons' %}
      icons
      {% else %}
      {{ this.step3_body1 }}
    </div>
    {% if this.step3_image %}
    <div class="image">
      <img src="{{ this.step3_image|url }}" alt="">
    </div>
    {% endif %}
    {% endif %}
  </div>
</section>
{% endif %}
{% if this.step4_title %}
<section class="{{ this.step4_layout }}">
  <div class="container">
    <div class="text">
      <h3><span class="number">4</span> <span>{{ this.step4_title }}</span></h3>
      {% if this.step4_layout =='icons' %}
    </div>
    <div class="items">
      {% if this.step4_icon1 %}
      <div class="item-1">
        <svg><use xlink:href="#icon-{{ this.step4_icon1 }}" /></svg>
        <h4>{{ this.step4_icon_title1 }}</h4>
        {{ this.step4_body1 }}
      </div>
      {% endif %}
      {% if this.step4_icon2 %}
      <div class="item-2">
        <svg><use xlink:href="#icon-{{ this.step4_icon2 }}" /></svg>
        <h4>{{ this.step4_icon_title2 }}</h4>
        {{ this.step4_body2 }}
      </div>
      {% endif %}
      {% if this.step4_icon3 %}
      <div class="item-3">
        <svg><use xlink:href="#icon-{{ this.step4_icon3 }}" /></svg>
        <h4>{{ this.step4_icon_title3 }}</h4>
        {{ this.step4_body3 }}
      </div>
      {% endif %}

      {% else %}
      {{ this.step4_body1 }}
    </div>
    {% if this.step4_image %}
    <div class="image">
      <img src="{{ this.step4_image|url }}" alt="">
    </div>
    {% endif %}
    {% endif %}
  </div>
</section>
{% endif %}
{% if this.start %}
<section class="action">
  <div class="container">
    <a href="{{ this.start }}" class="cta">Get started</a>
  </div>
</section>
{% endif %}

{% include 'includes/footer.html' %}
{% endblock %}
