{% extends "process.html" %}

{% block content %}
<div class="map-data-columns">
  <section class="data-edit">
    {% set editCounter = 1 -%}
    {% for c in bag('provided')['data'] %}
    {% if c['preview'] %}
    <div class="data-column" id="column_edit_{{ editCounter  + loop.index0 }}"{% if c['complete'] %} class="complete"{% endif %}>
      <div class="inner">

        <header>
          <h3>{{ c['heading'] }}</h3>
        </header>

        <div class="preview">
          <ol>
            {% for l, value in c['preview'].iteritems() %}
            <li>
              <span>{{ value }}</span>
            </li>
            {% endfor %}
          </ol>
        </div>

        <div class="field-info">
          <div class="data-type-select" id="data_type_select_{{ editCounter  + loop.index0 }}">
            <ul>
               <li class="type-1">
                  <span>Date</span>
                  <ul>
                    <li class="type-1">
                      <a>Fiscal year <em class="separator">-</em> <small>The fiscal-year for which the values in this record are relevant</small></a>
                    </li>
                    <li class="type-1">
                      <span>Fiscal dates <em class="separator">-</em> <small>Specific dates related to fiscal events</small></span>
                      <ul>
                        <li class="type-1">
                          <a>Approval date <em class="separator">-</em> <small>The approval date of a specific activity</small></a>
                        </li>
                        <li class="type-1">
                          <a>Ending Date <em class="separator">-</em> <small>The ending date of a specific activity</small></a>
                        </li>
                        <li class="type-1">
                          <a>Start Date <em class="separator">-</em> <small>The starting date of a specific activity</small></a>
                        </li>
                        <li class="type-1">
                          <a>Final Payment Date <em class="separator">-</em> <small>Final Payment Date</small></a>
                        </li>
                        <li class="type-1">
                          <a>First Payment Date <em class="separator">-</em> <small>The date of the first payment for a specific activity</small></a>
                        </li>
                      </ul>
                    </li>
                    <li class="type-1">
                      <a>Other date <em class="separator">-</em> <small>An non-specific date related to the values in this record (e.g. transaction date etc.)</small></a>
                    </li>
                  </ul>
               </li>
               <li class="type-2">
                 <span>Classification</span>
                 <ul>
                    <li class="type-2">
                      <span>Administrative <em class="separator">-</em> <small>The entity responsible for managing the public funds</small></span>
                      <ul>
                        <li class="type-2">
                          <a>Non-standard Administrative Classification <em class="separator">-</em> <small>Administrative Classification that does not adhere to a specific standard</small></a>
                        </li>
                      </ul>
                    </li>
                    <li class="type-2">
                      <span>Economic <em class="separator">-</em> <small>The type of budget and expenditure incurred (e.g.salaries, goods and services, interest payments, or capital spending etc.)</small></span>
                    </li>
                    <li class="type-2">
                      <span>Functional <em class="separator">-</em> <small>Classification of expenditure according to the purposes and objectives for which they are intended</small></span>
                    </li>
                 </ul>
                </li>
               <li class="type-3">
                 <span>Activity</span>
                 <ul>
                   <li class="type-3">
                     <span>Non-standard Activity <em class="separator">-</em> <small>Activity codes or labels that do not adhere to a specific standard</small></span>
                   </li>
                 </ul>
               </li>
               <li class="type-4">
                 <span>Participating Entities</span>
                 <ul>
                   <li class="type-4">
                     <span>Administrator <em class="separator">-</em> <small>The body that is authorized to spend the money</small></span>
                   </li>
                   <li class="type-4">
                     <span>Procurer <em class="separator">-</em> <small>The government entity acting as procurer for the transaction</small></span>
                   </li>
                 </ul>
               </li>
               <li class="type-5">
                 <span>Fiscal Attributes</span>
                 <ul>
                   <li class="type-5">
                     <span>Budgetary Transfers <em class="separator">-</em> <small>Extra properties regarding whether the expenditure contains budgetary transfers</small></span>
                   </li>
                 </ul>
               </li>
               <li class="type-6">
                 <span>Geographic</span>
                 <ul>
                   <li class="type-6">
                     <span>Geographic information <em class="separator">-</em> <small>Geographic information related to the record (e.g. related city, region etc.)</small></span>
                   </li>
                 </ul>
               </li>
               <li class="type-7">
                 <span>Identifiers</span>
                 <ul>
                   <li class="type-7">
                     <span>Budget Line Identifier <em class="separator">-</em> <small>A unique identifier for this budget line</small></span>
                   </li>
                 </ul>
               </li>
               <li class="type-8">
                 <span>Amount</span>
                 <ul>
                   <li class="type-8">
                     <span>Amount <em class="separator">-</em> <small>Numeric value depicting a fiscal amount related to the budget item, spending transaction etc.</small></span>
                   </li>
                 </ul>
               </li>
               <li class="type-9">
                 <span>Other</span>
                 <ul>
                   <li class="type-9">
                     <span>Unknown Mapping <em class="separator">-</em> <small>Use when no other data type applies to the column</small></span>
                   </li>
                 </ul>
               </li>
               <li>
                 <a>Ignore</a>
               </li>
            </ul>
          </div>

        </div>

      </div>

      <ul class="navigation">
        <li class="prev">
          <svg><use xlink:href="#icon-arrow_down" /></svg>
        </li>
        <li class="next">
          <svg><use xlink:href="#icon-arrow_down" /></svg>
        </li>
      </ul>

    </div>
    {% endif %}
    {% endfor %}
  </section>
  <section class="data-columns">
    {% set columnCounter = 1 -%}
    {% for c in bag('provided')['data'] %}
    {% if c['datatype_cat'] == "type-1" %}
    {% if c['preview'] %}
    <div class="data-column data-{{ c['datatype_cat'] }}" id="column_{{ columnCounter  + loop.index0 }}"{% if c['complete'] %} class="complete"{% endif %}>
      <div class="inner">
        <header>
          <button type="button" class="configure icon" aria-label="Remove"><svg><use xlink:href="#icon-cog" /></svg></button>

          <h3>{{ c['heading'] }}</h3>
        </header>

        <div class="preview">
          <ol>
            {% for l, value in c['preview'].iteritems() %}
            <li>
              <span>{{ value }}</span>
            </li>
            {% endfor %}
          </ol>
        </div>

        <div class="field-info">
          <label for="title_{{ columnCounter + loop.index0 }}">Title</label>
          <input type="text" value="{{ c['heading'] | replace("_", " ") }}" id="title_{{ columnCounter + loop.index0 }}">

          <label for="description_{{ columnCounter + loop.index0 }}">Description</label>
          <textarea id="description_{{ columnCounter + loop.index0 }}">{% if c['description'] %}{{ c['description'] }}{% endif %}</textarea>

        </div>
      </div>

    </div>
    {% elif c['constant'] %}
    <div class="data-column" id="column_{{ columnCounter  + loop.index0 }}"{% if c['complete'] %} class="complete"{% endif %}>
      <div class="inner">
        <header>
          <button type="button" class="remove icon" aria-label="Remove"><svg><use xlink:href="#icon-trashcan" /></svg></button>

          <h3>{% if c['heading'] %}{{ c['heading'] }}{% else %}&nbsp;{% endif %}</h3>
        </header>

        <div class="constant">
          <textarea id="constant_{{ columnCounter + loop.index0 }}" placeholder="enter a constant value">{% if c['constant'] != "blank" %}{{ c['constant'] }}{% endif %}</textarea>
        </div>

        <div class="field-info">
          <label for="title_{{ columnCounter + loop.index0 }}">Title</label>
          <input type="text"{% if c['title'] %} value="{{ c['title'] }}"{% endif %} id="title_{{ columnCounter + loop.index0 }}">

          <label for="description_{{ columnCounter + loop.index0 }}">Description</label>
          <textarea id="description_{{ columnCounter + loop.index0 }}">{% if c['description'] %}{{ c['description'] }}{% endif %}</textarea>

        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% for c in bag('provided')['data'] %}
    {% if c['datatype_cat'] is not defined %}
    {% if c['preview'] %}
    <div class="data-column" id="column_{{ columnCounter  + loop.index0 }}"{% if c['complete'] %} class="complete"{% endif %}>
      <div class="inner">
        <header>
          <button type="button" class="configure icon" aria-label="Remove"><svg><use xlink:href="#icon-cog" /></svg></button>

          <h3>{{ c['heading'] }}</h3>
        </header>

        <div class="preview">
          <ol>
            {% for l, value in c['preview'].iteritems() %}
            <li>
              <span>{{ value }}</span>
            </li>
            {% endfor %}
          </ol>
        </div>

        <div class="field-info">
          <label for="title_{{ columnCounter + loop.index0 }}">Title</label>
          <input type="text" value="{{ c['heading'] | replace("_", " ") }}" id="title_{{ columnCounter + loop.index0 }}">

          <label for="description_{{ columnCounter + loop.index0 }}">Description</label>
          <textarea id="description_{{ columnCounter + loop.index0 }}">{% if c['description'] %}{{ c['description'] }}{% endif %}</textarea>

        </div>
      </div>

    </div>
    {% elif c['constant'] %}
    <div class="data-column" id="column_{{ columnCounter  + loop.index0 }}"{% if c['complete'] %} class="complete"{% endif %}>
      <div class="inner">
        <header>
          <button type="button" class="remove icon" aria-label="Remove"><svg><use xlink:href="#icon-trashcan" /></svg></button>

          <h3>{% if c['heading'] %}{{ c['heading'] }}{% else %}&nbsp;{% endif %}</h3>
        </header>

        <div class="constant">
          <textarea id="constant_{{ columnCounter + loop.index0 }}" placeholder="enter a constant value">{% if c['constant'] != "blank" %}{{ c['constant'] }}{% endif %}</textarea>
        </div>

        <div class="field-info">
          <label for="title_{{ columnCounter + loop.index0 }}">Title</label>
          <input type="text"{% if c['title'] %} value="{{ c['title'] }}"{% endif %} id="title_{{ columnCounter + loop.index0 }}">

          <label for="description_{{ columnCounter + loop.index0 }}">Description</label>
          <textarea id="description_{{ columnCounter + loop.index0 }}">{% if c['description'] %}{{ c['description'] }}{% endif %}</textarea>

        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    <div class="add data-column">
      <div class="inner">
        <a>
          <svg><use xlink:href="#icon-circle_plus" /></svg> Add a dimension
        </a>
      </div>
    </div>
    {% for c in bag('provided')['data'] %}
    {% if c['preview'] is not defined %}
    {% if c['constant'] is not defined %}
    <div class="disabled data-column" id="column_{{ columnCounter  + loop.index0 }}">
      <div class="inner">
        <header>
          <h3>{{ c['heading'] }}</h3>
        </header>

        <div class="empty preview">
          <span>Column empty</span>
        </div>

        <div class="field-info">
          <label for="title_{{ columnCounter + loop.index0 }}">Title</label>
          <input type="text" value="{{ c['heading'] | replace("_", " ") }}" id="title_{{ columnCounter + loop.index0 }}">

          <label for="description_{{ columnCounter + loop.index0 }}">Description</label>
          <textarea id="description_{{ columnCounter + loop.index0 }}">{% if c['description'] %}{{ c['description'] }}{% endif %}</textarea>
        </div>

      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </section>
</div>
{% endblock %}
