{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="banner">
  <div class="container">
    <img src="{{ '/img/next/next.png'|url }}" alt="OS Next Alpha" class="next-logo" />
    {{ this.body }}
    <a href="#" class="cta">Give it a try!</a>
  </div>
</div>

<section id="features">
  <div class="container">
    <h2>Take your budget data to the next level</h2>
    <ul class="feature-list">
      <li>
        <span>
          <img src="{{ '/img/next/upload.png'|url }}" alt="" />
          <h4>A Simple Import Tool</h4>
          <p>
            Upload your CSV file in a few clicks with a simplified workflow.
          </p>
        </span>
      </li>
      <li class="highlight">
        <span>
          <img src="{{ '/img/next/package.png'|url }}" alt="" />
          <h4>Fiscal Data Package</h4>
          <p>
            A simple, open technical specification for government budget and spending data.
          </p>
        </span>
        <a href="http://fiscal.dataprotocols.org/spec/" rel="external">Spec</a>
      </li>
      <li>
        <span>
          <img src="{{ '/img/next/model.png'|url }}" alt="" />
          <h4>A Data Modeller</h4>
          <p>
            Edit and map your budget data to enable the power of filters and visualisations.
          </p>
        </span>
      </li>
      <li>
        <span>
          <img src="{{ '/img/next/visualisation.png'|url }}" alt="" />
          <h4>Visualisation Framework</h4>
          <p>
            Treemaps, pie charts, bar charts, geolocation, line charts, tables, you name it!
          </p>
        </span>
      </li>
      <li>
        <span>
          <img src="{{ '/img/next/api.png'|url }}" alt="" />
          <h4>New API</h4>
          <p>
            Build powerful apps and connect external data to your budget file.
          </p>
        </span>
      </li>
      <li>
        <span>
          <img src="{{ '/img/next/embed.png'|url }}" alt="" />
          <h4>Embed Visualisations</h4>
          <p>
            Share and embed any visualisation in your website or portal!
          </p>
        </span>
      </li>
    </ul>
  </div>
</section>

<section id="participate">
  <div class="container">
    <h2>How to participate</h2>
    <ol class="step-list">
      <li>
        <h4>Prepare &amp; upload your budget CSV</h4>
        <p>
          To correctly map the data, we need an ‘Amount’ data column, free of commas and spaces. Get started <a href="#">here</a>.
        </p>
      </li>
      <li>
        <h4>Create and map a Fiscal Data Package</h4>
        <p>
          Use our <a href="#">new tools</a> to create a Fiscal Data Package and map the data from your CSV file.
        </p>
      </li>
      <li>
        <h4>Found an issue or bug?</h4>
        <p>
          Your feedback goes a long way towards improving our applications. Please report any issues <a href="#">here</a>.
        </p>
      </li>
      <li>
        <h4>Suggest an improvement</h4>
        <p>
          Submit suggestions <a href="#">here</a>. Please describe your improvement, giving as much context as possible.
        </p>
      </li>
    </ol>
  </div>
</section>

<section id="contribute">
  <div class="container">
    <h3>More ways to contribute</h3>
    <p>
      At Open Knowledge, open and public participation is part of the process. We want to hear from you. <br />
      Visit the <a href="http://community.openspending.org/" rel="external">OpenSpending Community</a> to find out more.
    </p>
  </div>
</section>

<div class="subscribe-footer">
  <div class="container">
    <h3>Stay in touch</h3>
    <p>
      Receive regular updates through our mailing-list and be part of our community!
    </p>
      <form class="form-inline" method="POST" action="http://lists.okfn.org/mailman/subscribe/openspending">
        <input type="text" placeholder="Email" name="email" class="form-control">
        <button onclick="_gaq.push(['_trackEvent', 'Mailing lists', 'Register', 'Discussion direct']);" class="btn" type="submit">Subscribe</button>
      </form>
  </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
