{% extends "app.html" %}
{% block title %}Viewer - {{ this.title }}{% endblock %}
{% block content %}
<a class="share-page"><svg><use xlink:href="#icon-embed" /></svg> <span>Share</span></a>
<h2 class="package-title"><svg><use xlink:href="#icon-box" /></svg> <span>{{ this.title }}</span></h2>
{% if this.description %}
<div class="description">
  {{ this.description }}
</div>
{% endif %}

{% for c in this.charts %}
<div class="chart">
  {% include 'includes/add-visualisation.html' %}
  <article>
    <header class="chart-header">
      <ul class="tools">
        <li class="remove context">
          <span>
            <button type="button" class="btn btn-danger">Remove this visualisation</button>
            <button type="button" class="btn btn-danger">Clear all visualisation</button>
          </span>
          <a>
            <svg><use xlink:href="#icon-trashcan" /></svg>
            <span>Delete</span>
          </a>
        </li>
        <li class="context">
          <span>
            Share
          </span>
          <a>
            <svg><use xlink:href="#icon-embed" /></svg>
            <span>Share</span>
          </a>
        </li>
      </ul>
      <ol class="breadcrumb">
        <li><a href="#">Activity</a></li>
        <li class="active">001 - PUBLIC WORKS MANAGEMENT</li>
      </ol>
    </header>
    <div class="chart-body">
      <div class="chart-main">
        <div>
          <span style="display:block; padding-bottom:60%; background-color:#d33b0f; color:#fff;">Placeholder</span>
        </div>
      </div>
      <div class="chart-info">
        <div>
          <h3 class="chart-title">{{ c }}</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere odio porta risus dapibus, a venenatis ipsum ullamcorper. Proin neque nunc, consequat rhoncus dui a, consectetur tincidunt dolor.
          </p>
        </div>
      </div>
    </div>
  </article>
</div>
{% endfor %}


{% include 'includes/add-visualisation.html' %}

<div class="modal fade" id="addVisualisation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Available visualisations</h4>
      </div>
      <div class="modal-body">
        <ul class="visualisation-selection">
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-tree-map" /></svg>
              <span>Tree Map</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-pie" /></svg>
              <span>Pie Chart</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-bubble-tree" /></svg>
              <span>Bubble Tree</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-sankey" /></svg>
              <span>Sankey</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-bar" /></svg>
              <span>Bar Chart</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-table" /></svg>
              <span>Table</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-radar" /></svg>
              <span>Radar Chart</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-line" /></svg>
              <span>Line Chart</span>
            </a>
          </li>
          <li>
            <a>
              <svg><use xlink:href="#icon-chart-table" /></svg>
              <span>Pivot Table</span>
            </a>
          </li>
          <li>
            <a class="disabled">
              <svg><use xlink:href="#icon-chart-dimension" /></svg>
              <span>Multiple dimension agg</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <svg><use xlink:href="#icon-bulb" /></svg> <a>Clear</a> existing visualisations to enable full range of visualisation types.
      </div>
    </div>
  </div>
</div>

<div class="table-view">
  {% include 'includes/table.html' %}
</div>

{% endblock %}
